﻿<ons-navigator var="myNav" ng-controller="AnalysisController">
    <ons-page>
        <ons-toolbar fixed-style>
            <div class="right">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                <ons-icon icon="ion-stats-bars"></ons-icon>
                Analysis
            </div>
        </ons-toolbar>
        <ons-list style="margin-top:10px" modifier="inset" ng-repeat="item in Menus">
            <ons-list-header>{{item.title}}</ons-list-header>
            <ons-list-item modifier="chevron" ng-click="showPage($parent.$index,$index)" ng-repeat="subItem in item.submenus">
                <ons-row>
                    <ons-col>
                        <header>
                            <span class="item-title">{{subItem.title}}</span>
                        </header>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-navigator>