﻿<ons-page ng-controller="ProductController" ng-device-backbutton="myNav.popPage()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Product Detail
        </div>
    </ons-toolbar>

    <ons-tabbar animation="fade">
        <div style="display:none">
            <ons-template id="product_detail.html">
                <ons-list modifier="inset"
                          style="margin-top:10px;margin-bottom:10px">
                    <ons-list-header>Product ID</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].product_id}}
                    </ons-list-item>

                    <ons-list-header>Overall QI</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].qi}}
                    </ons-list-item>

                    <ons-list-header>Batch</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].batch_id}}
                    </ons-list-item>

                    <ons-list-header>Created on</ons-list-header>
                    <ons-list-item>
                        <ons-row>
                            <ons-col>From: {{Products.data[Products.selectedIndex].start_date}}</ons-col>
                        </ons-row>
                        <ons-row>
                            <ons-col>Until: {{Products.data[Products.selectedIndex].finish_date}}</ons-col>
                        </ons-row>
                    </ons-list-item>

                    <ons-list-header>Division</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].division_name}}
                    </ons-list-item>

                    <ons-list-header>Block</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].block_name}}
                    </ons-list-item>

                    <ons-list-header>Machine</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].machine_name}}
                    </ons-list-item>
                </ons-list>

                <ons-list modifier="inset"
                          style="margin-top:10px;margin-bottom:10px">
                    <ons-list-header>SKU Category</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].category_name}}
                    </ons-list-item>

                    <ons-list-header>SKU Sub-Category</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].subcategory_name}}
                    </ons-list-item>

                    <ons-list-header>SKU Segment</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].segment_name}}
                    </ons-list-item>

                    <ons-list-header>SKU Business</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].business_name}}
                    </ons-list-item>

                    <ons-list-header>SKU</ons-list-header>
                    <ons-list-item>
                        {{Products.data[Products.selectedIndex].sku_name}}
                    </ons-list-item>
                </ons-list>
            </ons-template>

            <ons-template id="quality_detail.html">
                <style>
                    .item {
                        height: 91px;
                    }
                </style>
                <ons-list ng-show="Products.quality_data.length>0">
                    <ons-list-item ons-lazy-repeat="QualityLazyRepeat">
                        <ons-row>
                            <ons-col>
                                <header>
                                    <span class="item-title">{{item.property_name}}</span>
                                    <span class="item-label">QI: {{item.qi}}</span>
                                </header>
                                <p class="item-desc">Reject Range: {{item.lrl}} - {{item.url}}</p>
                                <p class="item-desc" ng-style="{color:{{item.quality_value<item.lrl || item.quality_value>item.url}} ? 'red' : 'black'}">Value: {{item.quality_value}}</p>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            </ons-template>

            <ons-template id="quality_defect.html">
                <style>
                    .item {
                        height: 91px;
                    }
                </style>
                <ons-list ng-show="Products.defect.length>0">
                    <ons-list-item ons-lazy-repeat="RejectLazyRepeat">
                        <ons-row>
                            <ons-col>
                                <header>
                                    <span class="item-title">{{item.defect_name}}</span>
                                </header>
                                <p class="item-desc">Weight: {{item.weight}} Kg</p>
                                <p class="item-desc" ng-switch on="item.severity">
                                    Severity:
                                    <span ng-switch-when="0">
                                        No Defect
                                    </span>
                                    <span ng-switch-when="1">
                                        <ons-icon icon="ion-android-notifications-none"></ons-icon>
                                        Just noticeable
                                    </span>
                                    <span ng-switch-when="2">
                                        <ons-icon icon="ion-alert-circled"></ons-icon>
                                        Warning
                                    </span>
                                    <span ng-switch-when="3">
                                        <ons-icon icon="ion-arrow-graph-down-right"></ons-icon>
                                        Downgrade
                                    </span>
                                    <span ng-switch-when="4">
                                        <ons-icon icon="ion-close-circled"></ons-icon>
                                        Reject
                                    </span>
                                </p>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>

                <div style="color: #666;margin-top:10px;margin-bottom:10px;vertical-align:central" ng-show="Products.defect==null || Products.defect.length<=0">
                    <div style="line-height: 70px;text-align:center">
                        <ons-icon icon="ion-happy-outline" size="100px" fixed-width="true"></ons-icon>
                    </div><br />
                    <div style="line-height: 70px;font-size:15px;text-align:center">
                        Wooohooo....No defect....
                    </div>
                </div>
            </ons-template>
        </div>

        <ons-tab page="product_detail.html" active="true">
            <ons-icon icon="ion-information"></ons-icon>
            <span style="font-size: 14px">Product Info</span>
        </ons-tab>
        <ons-tab page="quality_detail.html">
            <ons-icon icon="ion-erlenmeyer-flask"></ons-icon>
            <span style="font-size: 14px">Quality</span>
        </ons-tab>
        <ons-tab page="quality_defect.html">
            <ons-icon icon="ion-alert"></ons-icon>
            <span style="font-size: 14px">Defect</span>
        </ons-tab>
    </ons-tabbar>
</ons-page>