﻿<ons-page ng-controller="ProductController">
    <style>
        .item {
            height: 141px;
            margin-left:10px;
            margin-right:10px;
            line-height: 1;
        }
    </style>
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Search Product Result
        </div>
    </ons-toolbar>

    <ons-modal var="result_modal">
        <ons-icon icon="ion-load-b" spin="true"></ons-icon>
        <br><br>
        Retrieving {{Products.data[Products.selectedIndex].product_id}} information...
    </ons-modal>

    <ons-row style="margin-top:10px" ng-show="Products.data.length>0">
        <ons-col>
            <ons-list modifier="inset">
                <ons-list-header>Found {{Products.data.length}} Product(s)</ons-list-header>
                <ons-list-item modifier="chevron" class="item" ons-lazy-repeat="ProductLazyRepeat"
                               ng-click="SelectProduct($index)" style="margin-top:30px">
                    <ons-row>
                        <ons-col>
                            <header>
                                <span class="item-title">{{item.product_id}}</span>
                            </header>
                            <p class="item-desc">Created on: {{item.start_date}}</p>
                            <p class="item-desc">Machine: {{item.machine_name}}</p>
                            <p class="item-desc">SKU: {{item.sku_name}}</p>
                            <p class="item-desc">Batch: {{item.batch_id}}</p>
                            <p class="item-desc">QI: {{item.qi}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-col>
    </ons-row>
</ons-page>