﻿<ons-page modifier="menu-page">
    <ons-toolbar fixed-style>
    </ons-toolbar>
    <ons-list class="menu-list">
        <ons-list-item class="menu-item" modifier="tappable" 
                       ng-repeat="myMenu in m.Menus"
                       ng-click="m.goToPage($index)">
            <ons-icon icon="{{myMenu.icon}}"></ons-icon>
            {{myMenu.text}}
        </ons-list-item>
    </ons-list>
</ons-page>