﻿<ons-page ng-controller="SettingsController as setting">
    <ons-toolbar fixed-style>
        <div class="right" ng-show="setting.isAuth()">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Settings
        </div>
    </ons-toolbar>

    <ons-list modifier="inset" class="settings-list" style="margin-top:10px">
        <ons-list-item>
            API Server
            <input type="text" class="text-input text-input--underbar"
                   placeholder="eg. http://localhost:123 or https://sub.domain.com"
                   name="api-server" style="width:100%" ng-model="setting.APIServer" ng-change="setting.setAPIServer()" />
        </ons-list-item>

    </ons-list>
</ons-page>