﻿<ons-page ng-controller="SignInController">
    <ons-toolbar fixed-style>
        <div class="center">DaVinxi Sign-In</div>
    </ons-toolbar>

    <ons-tabbar>
        <ons-tab page="login-form.html" active="true">
            <ons-icon icon="fa-sign-in"></ons-icon>
            <span style="font-size: 14px">Sign In</span>
        </ons-tab>
        <ons-tab page="views/settings.html">
            <ons-icon icon="ion-ios-cog"></ons-icon>
            <span style="font-size: 14px">Settings</span>
        </ons-tab>
    </ons-tabbar>

    <ons-modal var="modal">
        <ons-icon icon="ion-load-b" spin="true"></ons-icon>
        <br><br>
        Signing in...
    </ons-modal>

    <ons-template id="login-form.html">
        <form name="signin-form" ng-submit="signIn()" style="margin-left:10px;margin-right:10px">
            <p class="bg-warning" ng-show="signin-form.$error.required">Please fill all fields</p>
            <ons-row style="margin-top: 10px;" align="center">
                <ons-col width="10%"><ons-icon icon="fa-user"></ons-icon></ons-col>
                <ons-col>
                    <input type="text" ng-model="signInData.UserName"
                           placeholder="username" required class="text-input text-input--underbar" style="width:100%" />
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 10px;" align="center">
                <ons-col width="10%"><ons-icon icon="fa-key"></ons-icon></ons-col>
                <ons-col>
                    <input type="password" ng-model="signInData.Password"
                           placeholder="password" required class="text-input text-input--underbar" style="width:100%" />
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 10px;" align="center">
                <ons-col>
                    <button class="button button--large">
                        <ons-icon icon="fa-sign-in"></ons-icon> Sign-In
                    </button>
                </ons-col>
            </ons-row>
        </form>
    </ons-template>
</ons-page>