﻿<ons-page ng-controller="QualityRunChartController" ng-device-backbutton="myNav.popPage()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Quality Run Chart
        </div>
    </ons-toolbar>

    <ons-modal var="modal">
        <ons-icon icon="ion-load-b" spin="true"></ons-icon>
        <br><br>
        {{modalText}}
    </ons-modal>

    <ons-list modifier="inset" style="margin-top:10px" ng-show="CB.Companies.length>1">
        <ons-list-header>
            Company
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.company_id"
                            ng-options="m.company_id as m.company_name for m in CB.Companies"
                            class="form-control"
                            ng-change="onCompanyChange()"></select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Machine
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.machine_id"
                            ng-options="m.machine.machine_id as m.machine.machine_name for m in CB.Machines"
                            class="form-control">
                        <option value="">All machines</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            SKU
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.sku_id"
                            ng-options="s.sku_id as s.sku_name for s in CB.SKUs"
                            class="form-control" ng-change="onSKUChange()"></select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            Batch
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.batch_id"
                            ng-options="s.batch_id as s.batch_id for s in CB.Batches"
                            class="form-control">
                        <option value="">All batches</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            Quality Property
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.property_id"
                            ng-options="s.property_id as s.property_name for s in CB.Properties"
                            class="form-control"></select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px;margin-bottom:10px" modifier="inset">
        <ons-list-header>
            Western Electric Rules
        </ons-list-header>
        <ons-list-item ng-repeat="item in Params.we_rules">
            <ons-row>
                <ons-col>
                    {{item.id}}
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="item.selected"></ons-switch>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>{{item.text}}</ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar fixed-style>
        <div style="text-align: center; line-height: 44px">
            <ons-toolbar-button ng-click="GetData()">
                <ons-icon icon="ion-stats-bars" size="28px" fixed-width="false"></ons-icon>
                Get run chart
            </ons-toolbar-button>
        </div>
    </ons-bottom-toolbar>
</ons-page>