﻿<ons-page ng-controller="QualityRunChartController" ng-device-backbutton="myNav.popPage()">
    <ons-dialog var="weRulesModal" style="margin-left:10px;margin-right:10px;margin-top:10px">
        <ons-list>
            <ons-list-header>
                Western Electric Rules
            </ons-list-header>
            <ons-list-item ng-repeat="item in Params.we_rules">
                <ons-row>
                    <ons-col>
                        {{item.id}}
                    </ons-col>
                    <ons-col>
                        <ons-switch modifier="list-item" ng-model="item.selected"></ons-switch>
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col class="item-label">{{item.text}}</ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
        <ons-button modifier="large" ng-click="openWERulesModal()">Close</ons-button>
    </ons-dialog>

    <ons-toolbar fixed-style ng-hide="weRulesModalShowed">
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Quality Run Chart<br />
        </div>
    </ons-toolbar>
    <div style="margin-top:10px">
        <highchart config="chartConfig" id="run_chart" 
                   style="margin-left:20px;margin-right:20px"></highchart>
    </div>

    <ons-bottom-toolbar fixed-style ng-hide="weRulesModalShowed">
        <div style="line-height: 44px;">
            <ons-row>
                <ons-col align="left">
                    <ons-toolbar-button ng-show="chartData.current_index>0" ng-click="PrevChart()">
                        <ons-icon icon="ion-android-arrow-back" size="28px" fixed-width="false"></ons-icon>
                        Previous
                    </ons-toolbar-button>
                </ons-col>
                <ons-col align="center">
                    <ons-toolbar-button ng-click="openWERulesModal()" id="we_rules">
                        <ons-icon icon="ion-android-checkmark-circle" size="28px" fixed-width="false"></ons-icon>
                        WE Rules
                    </ons-toolbar-button>
                </ons-col>
                <ons-col align="right">
                    <ons-toolbar-button ng-show="chartData.current_index<chartData.data.length-1" ng-click="NextChart()">
                        Next
                        <ons-icon icon="ion-android-arrow-forward" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </ons-col>
            </ons-row>
        </div>
    </ons-bottom-toolbar>
</ons-page>