﻿<ons-page ng-controller="DefectTrackingController" ng-device-backbutton="myNav.popPage()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Defect Tracking
        </div>
    </ons-toolbar>

    <ons-modal var="modal">
        <ons-icon icon="ion-load-b" spin="true"></ons-icon>
        <br><br>
        {{modalText}}
    </ons-modal>

    <ons-list modifier="inset" style="margin-top:10px" ng-show="CB.Companies.length>1">
        <ons-list-header>
            Company
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.company_id"
                            ng-options="m.company_id as m.company_name for m in CB.Companies"
                            class="form-control"
                            ng-change="onCompanyChange()"></select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Division
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.division_id"
                            ng-options="m.division_id as m.division_name for m in CB.Divisions"
                            class="form-control"
                            ng-change="onDivisionChange()">
                        <option value="">All Divisions</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkDivision"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Block
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.block_id"
                            ng-options="m.block_id as m.block_name for m in CB.Blocks"
                            class="form-control"
                            ng-change="onBlockChange()">
                        <option value="">All Blocks</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkBlock"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Machine
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.machine_id"
                            ng-options="m.machine.machine_id as m.machine.machine_name for m in CB.Machines"
                            class="form-control">
                        <option value="">All Machines</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkMachine"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            SKU Category
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.category_id"
                            ng-options="s.category_id as s.category_name for s in CB.Categories"
                            class="form-control" ng-change="onSKUCategoryChange()">
                        <option value="">All categories</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkCategory"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            SKU Sub-category
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.subcategory_id"
                            ng-options="s.subcategory_id as s.subcategory_name for s in CB.SubCategories"
                            class="form-control" ng-change="onSKUSubCategoryChange()">
                        <option value="">All sub-categories</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkSubcategory"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            SKU Segment
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.segment_id"
                            ng-options="s.segment_id as s.segment_name for s in CB.Segments"
                            class="form-control" ng-change="onSKUSubCategoryChange()">
                        <option value="">All segments</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkSegment"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            SKU Business
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.business_id"
                            ng-options="s.business_id as s.business_name for s in CB.Business"
                            class="form-control" ng-change="onSKUSubCategoryChange()">
                        <option value="">All businesses</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkBusiness"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            SKU
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.sku_id"
                            ng-options="s.sku_id as s.sku_name for s in CB.SKUs"
                            class="form-control" ng-change="onSKUChange()">
                        <option value="">All SKUs</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkSKU"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            Batch
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.batch_id"
                            ng-options="s.batch_id as s.batch_id for s in CB.Batches"
                            class="form-control" 
                            ng-change="onBatchChange()">
                        <option value="">All batches</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    P-chart group
                </ons-col>
                <ons-col>
                    <ons-switch modifier="list-item" ng-model="Params.chkBatch"></ons-switch>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            Date Range
        </ons-list-header>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    <header>
                        <span class="item-title">Start Date</span>
                        <span class="item-label">
                            <ons-icon icon="ion-edit" ng-click="showDateTimePicker(0)"></ons-icon>
                        </span>
                    </header>
                    {{Params.startDate}}
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    <header>
                        <span class="item-title">Finish Date</span>
                        <span class="item-label">
                            <ons-icon icon="ion-edit" ng-click="showDateTimePicker(1)"></ons-icon>
                        </span>
                    </header>
                    {{Params.finishDate}}
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item style="margin-bottom:10px">
            <ons-row>
                <ons-col>
                    <header>
                        <span class="item-title">P-chart group every</span>
                    </header>
                    <ons-col>
                    <input type="number" class="text-input" ng-model="Params.timeNumber" />
                    <select ng-model="Params.timeGroupedType"
                            class=" form-control"
                            ng-options="t.id as t.text for t in TimeType"></select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px;margin-bottom:10px" modifier="inset">
        <ons-list-header>
            Severity
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.severity"
                            ng-options="t.id as t.text for t in Severity"
                            class="form-control">
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar fixed-style>
        <div style="text-align: center; line-height: 44px">
            <ons-toolbar-button ng-click="Process()">
                <ons-icon icon="ion-stats-bars" size="28px" fixed-width="false"></ons-icon>
                Get defect tracking
            </ons-toolbar-button>
        </div>
    </ons-bottom-toolbar>
</ons-page>