﻿<ons-page ng-controller="ProcessCapabilityController" ng-device-backbutton="myNav.popPage()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Process Capability
        </div>
    </ons-toolbar>

    <ons-row style="margin-top:10px">
        <ons-col>
            <highchart config="chartConfig" id="pCapability" style="margin-left:20px;margin-right:20px"></highchart>
        </ons-col>
    </ons-row>
</ons-page>