﻿<ons-page ng-controller="DowntimeTrackingController" ng-device-backbutton="myNav.popPage()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Downtime Tracking
        </div>
    </ons-toolbar>

    <ons-modal var="modal">
        <ons-icon icon="ion-load-b" spin="true"></ons-icon>
        <br><br>
        {{modalText}}
    </ons-modal>

    <ons-list modifier="inset" style="margin-top:10px" ng-show="CB.Companies.length>1">
        <ons-list-header>
            Company
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.company_id"
                            ng-options="m.company_id as m.company_name for m in CB.Companies"
                            class="form-control"
                            ng-change="onCompanyChange()"></select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Division
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.division_id"
                            ng-options="m.division_id as m.division_name for m in CB.Divisions"
                            class="form-control"
                            ng-change="onDivisionChange()">
                        <option value="">All Divisions</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Block
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.block_id"
                            ng-options="m.block_id as m.block_name for m in CB.Blocks"
                            class="form-control"
                            ng-change="onBlockChange()">
                        <option value="">All Blocks</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset" style="margin-top:10px">
        <ons-list-header>
            Machine
        </ons-list-header>
        <ons-list-item>
            <ons-row style="margin-top:10px">
                <ons-col>
                    <select ng-model="Params.machine_id"
                            ng-options="m.machine.machine_id as m.machine.machine_name for m in CB.Machines"
                            class="form-control">
                        <option value="">All Machines</option>
                    </select>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top:10px" modifier="inset">
        <ons-list-header>
            Date Range
        </ons-list-header>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    <header>
                        <span class="item-title">Start Date</span>
                        <span class="item-label">
                            <ons-icon icon="ion-edit" ng-click="showDateTimePicker(0)"></ons-icon>
                        </span>
                    </header>
                    {{Params.start_date}}
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col>
                    <header>
                        <span class="item-title">Finish Date</span>
                        <span class="item-label">
                            <ons-icon icon="ion-edit" ng-click="showDateTimePicker(1)"></ons-icon>
                        </span>
                    </header>
                    {{Params.finish_date}}
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar fixed-style>
        <div style="text-align: center; line-height: 44px">
            <ons-toolbar-button ng-click="Process()">
                <ons-icon icon="ion-stats-bars" size="28px" fixed-width="false"></ons-icon>
                Get downtime tracking
            </ons-toolbar-button>
        </div>
    </ons-bottom-toolbar>
</ons-page>