﻿<ons-page ng-controller="DowntimeTrackingController" ng-device-backbutton="back()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="myNav.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
                Back
            </ons-toolbar-button>
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Downtime Tracking
        </div>
    </ons-toolbar>

    <ons-modal var="result_modal">
        <ons-icon icon="ion-load-b" spin="true"></ons-icon>
        <br><br>
        {{modalText}}
    </ons-modal>

    <ons-tabbar animation="fade" style="margin-top:10px" var="tabbar">
        <div style="display:none">
            <ons-template id="action.html">
                <ons-row>
                    <ons-col>
                        <highchart config="chartConfig.actionChart" style="margin-left:20px;margin-right:20px"></highchart>
                    </ons-col>
                </ons-row>
            </ons-template>

            <ons-template id="freq.html">
                <ons-row>
                    <ons-col>
                        <highchart config="chartConfig.freqChart" style="margin-left:20px;margin-right:20px"></highchart>
                    </ons-col>
                </ons-row>
            </ons-template>

            <ons-template id="duration.html">
                <ons-row>
                    <ons-col>
                        <highchart config="chartConfig.durationChart" style="margin-left:20px;margin-right:20px"></highchart>
                    </ons-col>
                </ons-row>
            </ons-template>
        </div>

        <ons-tab page="freq.html" active="true">
            <span style="font-size: 14px">Frequency</span>
        </ons-tab>
        <ons-tab page="duration.html">
            <span style="font-size: 14px">Duration</span>
        </ons-tab>
        <ons-tab page="action.html">
            <span style="font-size: 14px">Action</span>
        </ons-tab>

    </ons-tabbar>
</ons-page>